* {
    margin: 0;
    padding: 0;
}

.pageBody {
    background: lavender;
    height: 100vh; /* "vh" 100% of a screen(mobile,compter, etc.)*/
}

#footerSection {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
}